In [3]:
from IPython.display import SVG

In [4]:
import pandas, pygal

In [6]:
health_data = pandas.read_csv('Dem_Health_Full.txt', sep = '\t')

In [7]:
health_data.head()

,County,State,Population_Density,Poverty,Infant_Mortality,Suicide,Total_Births,Total_Deaths
0,Autauga,AL,82,10.4,5.9,16.6,3048.0,1867.0
1,Baldwin,AL,102,10.2,7.1,14.3,5471.0,4388.0
2,Barbour,AL,32,22.1,7.1,10.3,1835.0,1538.0
3,Bibb,AL,35,16.8,9.8,14.8,2801.0,2012.0
4,Blount,AL,86,11.9,9.0,14.4,3318.0,2453.0

In [17]:
health_data[(health_data['State'] =='AL') | (health_data['State']== 'TX')]

,County,State,Population_Density,Poverty,Infant_Mortality,Suicide,Total_Births,Total_Deaths
0,Autauga,AL,82,10.4,5.9,16.6,3048.0,1867.0
1,Baldwin,AL,102,10.2,7.1,14.3,5471.0,4388.0
2,Barbour,AL,32,22.1,7.1,10.3,1835.0,1538.0
3,Bibb,AL,35,16.8,9.8,14.8,2801.0,2012.0
4,Blount,AL,86,11.9,9.0,14.4,3318.0,2453.0
5,Bullock,AL,18,26.2,13.3,-1111.1,1604.0,1381.0
6,Butler,AL,27,20.0,5.8,11.9,2874.0,2857.0
7,Calhoun,AL,184,16.4,9.5,13.6,4429.0,3915.0
8,Chambers,AL,59,16.2,7.5,12.8,2271.0,2424.0
9,Cherokee,AL,44,15.2,7.4,17.7,2659.0,2609.0
10,Chilton,AL,60,14.9,10.5,13.3,2671.0,2065.0
11,Choctaw,AL,16,18.7,10.8,9.4,2152.0,1742.0
12,Clarke,AL,22,19.2,7.1,8.9,1984.0,1444.0
13,Clay,AL,23,14.0,10.2,11.2,1748.0,1706.0
14,Cleburne,AL,26,14.0,7.0,30.1,1706.0,1540.0
15,Coffee,AL,67,13.7,2.9,13.1,2762.0,2210.0
16,Colbert,AL,92,14.0,8.2,15.1,3166.0,3087.0
17,Conecuh,AL,16,22.0,14.4,13.2,1872.0,1832.0
18,Coosa,AL,17,13.4,13.9,-1111.1,1273.0,1174.0
19,Covington,AL,36,17.5,6.2,10.7,2247.0,2499.0
20,Crenshaw,AL,23,17.6,11.4,11.2,1745.0,1825.0
21,Cullman,AL,108,13.3,6.9,9.1,4897.0,4405.0
22,Dale,AL,87,15.8,7.9,10.8,3789.0,2259.0
23,Dallas,AL,45,25.0,9.6,8.4,3767.0,2752.0
24,DeKalb,AL,86,15.1,7.7,10.9,4665.0,3326.0
25,Elmore,AL,119,12.5,7.6,8.5,4707.0,2823.0
26,Escambia,AL,40,18.6,12.3,11.0,2519.0,2151.0
27,Etowah,AL,193,15.7,8.7,15.7,3810.0,4020.0
28,Fayette,AL,29,16.1,7.3,12.0,2145.0,2224.0
29,Franklin,AL,48,17.4,11.5,13.8,2169.0,1902.0
...,...,...,...,...,...,...,...,...
2745,Titus,TX,72,16.4,5.5,15.1,2546.0,1338.0
2746,Tom Green,TX,68,16.7,8.0,15.9,4738.0,3035.0
2747,Travis,TX,898,13.9,5.8,12.9,43572.0,12200.0
2748,Trinity,TX,21,17.8,12.6,19.0,1544.0,1892.0
2749,Tyler,TX,22,17.5,13.1,12.1,2219.0,2448.0
2750,Upshur,TX,64,15.9,7.3,15.4,2332.0,2101.0
2751,Upton,TX,2,16.3,NaN,-1111.1,487.0,349.0
2752,Uvalde,TX,17,23.4,4.7,7.7,2350.0,1174.0
2753,Val Verde,TX,15,22.4,5.7,8.8,4568.0,1561.0
2754,Van Zandt,TX,62,14.0,4.3,20.2,3053.0,2930.0
2755,Victoria,TX,97,15.5,6.1,11.2,6733.0,3466.0
2756,Walker,TX,80,19.4,6.2,13.8,3069.0,2139.0
2757,Waller,TX,68,17.5,3.2,12.1,2466.0,1189.0
2758,Ward,TX,12,17.1,7.1,10.4,1573.0,1073.0
2759,Washington,TX,52,13.6,4.6,5.8,1956.0,1729.0
2760,Webb,TX,67,27.1,5.3,6.0,17803.0,3046.0
2761,Wharton,TX,38,15.6,5.3,10.3,3185.0,2056.0
2762,Wheeler,TX,5,13.8,7.6,23.7,574.0,883.0
2763,Wichita,TX,201,15.6,8.9,13.2,5643.0,3875.0
2764,Wilbarger,TX,14,15.9,6.7,9.6,1995.0,1844.0
2765,Willacy,TX,34,30.2,4.0,5.8,3972.0,1186.0
2766,Williamson,TX,297,6.9,4.9,7.9,14947.0,3857.0
2767,Wilson,TX,47,12.0,6.9,9.0,2171.0,1313.0
2768,Winkler,TX,8,16.4,5.0,21.9,1120.0,762.0
2769,Wise,TX,63,10.8,6.2,13.3,3392.0,2131.0
2770,Wood,TX,63,15.2,8.4,14.8,2135.0,2603.0
2771,Yoakum,TX,9,15.5,3.6,17.8,1256.0,566.0
2772,Young,TX,20,16.4,6.4,17.2,2222.0,2563.0
2773,Zapata,TX,13,27.0,5.0,10.5,2409.0,851.0
2774,Zavala,TX,9,32.7,4.8,12.1,2125.0,922.0

In [22]:
health_data.fillna(0, inplace=True)
health_data.iloc[3126]

County                Hot Springs
State                          WY
Population_Density              2
Poverty                      11.6
Infant_Mortality                0
Suicide                      23.9
Total_Births                  437
Total_Deaths                  627
Name: 3126, dtype: object

In [29]:
health_data.head(6)

,County,State,Population_Density,Poverty,Infant_Mortality,Suicide,Total_Births,Total_Deaths
0,Autauga,AL,82,10.4,5.9,16.6,3048.0,1867.0
1,Baldwin,AL,102,10.2,7.1,14.3,5471.0,4388.0
2,Barbour,AL,32,22.1,7.1,10.3,1835.0,1538.0
3,Bibb,AL,35,16.8,9.8,14.8,2801.0,2012.0
4,Blount,AL,86,11.9,9.0,14.4,3318.0,2453.0
5,Bullock,AL,18,26.2,13.3,-1111.1,1604.0,1381.0

In [31]:
health_data.head(6)
health_data['Suicide'].replace(-1111.1,0,inplace=True)
health_data.head(6)

,County,State,Population_Density,Poverty,Infant_Mortality,Suicide,Total_Births,Total_Deaths
0,Autauga,AL,82,10.4,5.9,16.6,3048.0,1867.0
1,Baldwin,AL,102,10.2,7.1,14.3,5471.0,4388.0
2,Barbour,AL,32,22.1,7.1,10.3,1835.0,1538.0
3,Bibb,AL,35,16.8,9.8,14.8,2801.0,2012.0
4,Blount,AL,86,11.9,9.0,14.4,3318.0,2453.0
5,Bullock,AL,18,26.2,13.3,0.0,1604.0,1381.0

In [40]:
a_tuple = (1,2)
a_tuple
a_list = [1,2]
type(a_list)
nested_list = [(1,2),(3,4)]
type(nested_list[0])

tuple

In [43]:
data_for_al = health_data.loc[health_data['State']=='AL',\
                              ['Population_Density','Poverty']]
data_for_al.head()

   Population_Density  Poverty
0                  82     10.4
1                 102     10.2
2                  32     22.1
3                  35     16.8
4                  86     11.9

In [49]:
#data_for_all= data_for_al.head()
data_for_al.values

array([[  82. ,   10.4],
       [ 102. ,   10.2],
       [  32. ,   22.1],
       [  35. ,   16.8],
       [  86. ,   11.9],
       [  18. ,   26.2],
       [  27. ,   20. ],
       [ 184. ,   16.4],
       [  59. ,   16.2],
       [  44. ,   15.2],
       [  60. ,   14.9],
       [  16. ,   18.7],
       [  22. ,   19.2],
       [  23. ,   14. ],
       [  26. ,   14. ],
       [  67. ,   13.7],
       [  92. ,   14. ],
       [  16. ,   22. ],
       [  17. ,   13.4],
       [  36. ,   17.5],
       [  23. ,   17.6],
       [ 108. ,   13.3],
       [  87. ,   15.8],
       [  45. ,   25. ],
       [  86. ,   15.1],
       [ 119. ,   12.5],
       [  40. ,   18.6],
       [ 193. ,   15.7],
       [  29. ,   16.1],
       [  48. ,   17.4],
       [  45. ,   17.6],
       [  15. ,   24.9],
       [  28. ,   20.6],
       [  30. ,   16.3],
       [ 162. ,   15.3],
       [  50. ,   14.5],
       [ 591. ,   14.4],
       [  25. ,   16.1],
       [ 131. ,   15.6],
       [  50. ,   14.4],
       [ 202. ,   15.1],
       [ 124. ,   11.8],
       [  18. ,   23.3],
       [  37. ,   25.8],
       [ 370. ,   10.9],
       [  22. ,   20.1],
       [  41. ,   16.8],
       [ 151. ,   15.2],
       [ 326. ,   18.5],
       [  23. ,   17.7],
       [ 281. ,   18. ],
       [ 195. ,   13.2],
       [  16. ,   28.6],
       [  23. ,   19.3],
       [  44. ,   20.3],
       [  39. ,   15.7],
       [  77. ,   18.6],
       [ 114. ,   13.1],
       [ 216. ,    6.9],
       [  15. ,   26.4],
       [ 109. ,   16.8],
       [  57. ,   16. ],
       [ 128. ,   16.5],
       [  88. ,   14.8],
       [  16. ,   16.9],
       [  15. ,   27.9],
       [  40. ,   16.9]])

In [51]:
lst = [tuple(x) for x in data_for_al.values]
lst

[(82.0, 10.4),
 (102.0, 10.199999999999999),
 (32.0, 22.100000000000001),
 (35.0, 16.800000000000001),
 (86.0, 11.9),
 (18.0, 26.199999999999999),
 (27.0, 20.0),
 (184.0, 16.399999999999999),
 (59.0, 16.199999999999999),
 (44.0, 15.199999999999999),
 (60.0, 14.9),
 (16.0, 18.699999999999999),
 (22.0, 19.199999999999999),
 (23.0, 14.0),
 (26.0, 14.0),
 (67.0, 13.699999999999999),
 (92.0, 14.0),
 (16.0, 22.0),
 (17.0, 13.4),
 (36.0, 17.5),
 (23.0, 17.600000000000001),
 (108.0, 13.300000000000001),
 (87.0, 15.800000000000001),
 (45.0, 25.0),
 (86.0, 15.1),
 (119.0, 12.5),
 (40.0, 18.600000000000001),
 (193.0, 15.699999999999999),
 (29.0, 16.100000000000001),
 (48.0, 17.399999999999999),
 (45.0, 17.600000000000001),
 (15.0, 24.899999999999999),
 (28.0, 20.600000000000001),
 (30.0, 16.300000000000001),
 (162.0, 15.300000000000001),
 (50.0, 14.5),
 (591.0, 14.4),
 (25.0, 16.100000000000001),
 (131.0, 15.6),
 (50.0, 14.4),
 (202.0, 15.1),
 (124.0, 11.800000000000001),
 (18.0, 23.300000000000001),
 (37.0, 25.800000000000001),
 (370.0, 10.9),
 (22.0, 20.100000000000001),
 (41.0, 16.800000000000001),
 (151.0, 15.199999999999999),
 (326.0, 18.5),
 (23.0, 17.699999999999999),
 (281.0, 18.0),
 (195.0, 13.199999999999999),
 (16.0, 28.600000000000001),
 (23.0, 19.300000000000001),
 (44.0, 20.300000000000001),
 (39.0, 15.699999999999999),
 (77.0, 18.600000000000001),
 (114.0, 13.1),
 (216.0, 6.9000000000000004),
 (15.0, 26.399999999999999),
 (109.0, 16.800000000000001),
 (57.0, 16.0),
 (128.0, 16.5),
 (88.0, 14.800000000000001),
 (16.0, 16.899999999999999),
 (15.0, 27.899999999999999),
 (40.0, 16.899999999999999)]